body {
  background: #f5f7f8;
}


.grid-1 {
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  
  grid-template-areas: "pap1 alaune alaune pap2"
                       "pic maj template pap2"
                       "top1 publication adresse pap2";
}

/* items */

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 20px;
  }

/* specific item styles */

.item-1 {
  background: #b03532;
  grid-area: pap1;
}
.item-2 {
  background: #33a8a5;
  grid-area: alaune;
}
.item-3 {
  background: #30997a;
  grid-area: pic;
}
.item-4 {
  background: #6a478f;
  grid-area: maj;
}

.item-5 {
  background: #b03532;
  grid-area: template;
}
.item-6 {
  background: #33a8a5;
  grid-area: top1;
}
.item-7 {
  background: #30997a;
  grid-area: publication;
}
.item-8 {
  background: #6a478f;
  grid-area: adresse;
}

.item-9 {
  background: #b03532;
  grid-area: pap2;
}

 
@media only screen and (max-width: 600px) {
 
  .grid-1 {
    display: grid;
    width: 100%;
    margin: 0 auto;
     
    grid-template-columns: 1fr;
    grid-gap: 10px;
     
    grid-template-areas:    "pap1"
                            "alaune"
                            "pic"
                            "maj"
                            "template"
                            "top1"
                            "publication"
                            "adresse"
                            "pap2";
}

}